<h2>Edit My Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

   <div class="form-group">
    <%= f.label :firstname %>
    <%= f.text_field :firstname, autofocus: true, class:"form-control"  %>
  </div>
  
    <div class="form-group">
    <%= f.label :lastname %>
    <%= f.text_field :lastname, autofocus: true, class:"form-control"  %>
  </div>
  
   <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:"form-control"  %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
    <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, autofocus: true, class:"form-control"  %>
  </div>
  
    <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, autofocus: true, class:"form-control"  %>
  </div>
  
  <div class="form-group">
      <%= f.check_box :membership %>
      <%= f.label :membership %>
  </div>

   <div class="form-group">
    <%= f.label :password %> <em>(leave blank if you don't want to change it)</em>
    <%= f.password_field :password, autocomplete: "off", class:"form-control"  %>
  </div>

   <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control"  %>
  </div>

   <div class="form-group">
    <%= f.label :current_password %> <em>(we need your current password to confirm your changes)</em>
    <%= f.password_field :current_password, autocomplete: "off", class:"form-control"  %>
  </div>

  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-primary", data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back , class: "btn btn-default" %>
