<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|%>
  <%= devise_error_messages! %>
  <div class="form-group">
      <%= f.label :firstname %>
      <%= f.text_field :firstname, autofocus: true, class:"form-control" %>
  </div>
  <div class="form-group">  
      <%= f.label :lastname %>
      <%= f.text_field :lastname, autofocus: true, class:"form-control" %>
    </div>
  <div class="form-group">  
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class:"form-control" %>
   </div>
  <div class="form-group">  
      <%= f.label :address %>
      <%= f.text_area :address, autofocus: true, class:"form-control" %>
   </div>
  <div class="form-group">  
      <%= f.label :phone %>
      <%= f.text_field :phone, autofocus: true, class:"form-control" %>
   </div>
    <div class="form-group">
      <%= f.check_box :membership %>
      <%= f.label :membership %>
  </div>
  <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
   </div>
  <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
  </div>
  <div class="form-group">
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>


<%= render "devise/shared/links" %>
