 <figure class="banner"><%= image_tag("spa1.jpg", :alt => "") %></figure>
 <h1>Welcome 
  <% if user_signed_in? %>
      <%= current_user.firstname %>
    <% end %>
</h1>

 <% if user_signed_in? %>
      <p>You last visited our site at <%= current_user.last_sign_in_at.strftime("%H:%M on %d %B %Y") %></p>
<% end %>

