<h1>My Shopping Bag</h1>
<% if @cart.line_items.count == 0 %>
    <p>Your Bag Is Empty.</p>
<% else %>
    <div class="panel-body">
         <div class="row">
            <table class="table checkout">
                <thead>
                    <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <%= @cart.user_id %>
                <% for item in @cart.line_items %>
                 <tr>
                    <td><strong><%= item.product.name %></strong> <br/> <%= item.product.description %></td>
                    <td><%= item.quantity %></td> 
                     <%= link_to 'Empty Cart', @cart, :method => :remove, :confirm => "Are you sure you want to delete your items?",
            :class => "btn btn-default" %>
                    <td><%= number_to_currency(item.product.price, unit: '€') %></td>
                </tr>
                <% end %>
                         <tr>
                            <td></td>
                            <td><strong>Sub Total:</strong></td>
                            <td><%= number_to_currency(@cart.total_price, :unit => '€') %></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><strong>20% Membership discount:</strong></td>
                            <td>
                                <% discount = 0 %>
                                <% if current_user.try(:membership?) %>
                                    <% discount = @cart.total_price/100 %>
                                    <% discount = discount * 20 %>
                                <% end %>
                                <%= number_to_currency(discount, :unit => '€') %>
                            </td>
                        </tr>
                         <tr>
                            <td></td>
                            <td><strong>Total amount:</strong></td>
                            <td>
                                <% amount = @cart.total_price - discount %>
                                <%= number_to_currency(amount, :unit => '€') %>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
             </div>
             <div class="checkout-btn">
                 <form action="/page/confirmation" method="GET">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
        data-amount="amount"
        data-name="Health Spa Dublin"
        data-description="Checkout"
        data-locale="auto">
      </script>
              
                 <%= link_to 'Empty Cart', @cart, :method => :delete, :confirm => "Are you sure you want to delete your items?",
            :class => "btn btn-default" %>
            </div>
    </div>
<% end %>
