<h2>Log in</h2>
<%= devise_error_messages! %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
  </div>

  <div class="form-group">
    <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end -%>
  </div>

  <div class="form-group">
    <div class="actions">
    <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>

<%= render "devise/shared/links" %>
