<h1>My Account</h1>
            <p><strong>Name:</strong>  <%= current_user.firstname %> <%= current_user.lastname %></p>
            <p><strong>Address:</strong>  <%= current_user.address %></p>
            <p><strong>Phone:</strong>  <%= current_user.phone %></p>
            <p><strong>e-mail:</strong>  <%= current_user.email %></p>
<%= link_to "Edit My Account", edit_user_registration_path, class: "btn btn-primary" %>
