<h1>Membership</h1>
<p>Our <strong>Exclusive Membership Program</strong> allows you choose from a huge selection of treatments per month saving 100’s of Euro a year!&nbsp;
Vedas Beauty’s Exclusive Membership Program can be tailored to make the perfect gift for someone special or as a treat for yourself.</p>
<p>With a Vedas Beauty Membership Card you will receive:</p>
<ul>
    <li>20% discount on all products ranges</li>
    <li>A free gift or treatment on your birthday</li>
    <li>Complimentary 30 minute session in our Infra-red sauna before any facial or body treatment</li>
</ul>

<p>To become a member you must join The Vedas Beauty Exclusive Membership Program for a minimum of three months.  
Payments can be made in three month blocks or via a monthly Direct Debit, taken on the 1st of each month. On Direct Debit Membership will continue after three months unless otherwise notified.  
If you wish to end your membership simply email at least three days before the end of the month.</p>

<p>If you have already registered click here to <%= link_to "become a member", edit_user_registration_path %> or click here if you would like to <%= link_to "register", new_user_registration_path %>. </p>
            
