/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font:.625rem Georgia, Times, "Times New Roman", serif;
}

h1, h2, h3, h4, a, a:hover, strong,.btn-default, label, .form-group em {
    color:#a7916a;
}

.alert {
    color:red;
}

p, label, a, .form-group em, li, .table {
    font-size:1.4rem;
    line-height:2.2rem;
}

.checkout td:first-of-type {
    width:80%;
}

.search {
    float:right;
}

label {
    float:left;
    width:14%;
    margin-right:10px;
}

figure.banner {
    float:left;
    width:100%;
    img {
        max-width:100%;
        float:right;
        margin:20px 0;
        display:inline-block;
    }
}

.form-control {
    width:75%;
}

.btn {
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:10px;
}

.btn:hover {
    color:#fff;
}

.btn.btn-primary, .btn.btn-primary:active, .btn:hover  {
     background:#a7916a;
     border-color:#a7916a;
}

button.stripe-button-el, button.stripe-button-el span, button.stripe-button-el:active{
     background:#a7916a;
     border-color:#a7916a;
     background-image:none;
     box-shadow:none;
     text-transform:uppercase;
     padding: 6px 10px;
    line-height: 20px;
    margin-right:0;
}

 button.stripe-button-el {
     margin-top:10px;
}

.navbar-default {
    background:#a7916a;
    min-height:120px;
    position:relative;
    .container {
        .navbar-nav  {
            margin-top:76px;
            li a, .navbar-brand {
                color:#fff;
                font:1.5rem Georgia, Times, "Times New Roman", serif;
                text-transform:uppercase;
            }
        }
    }
}



.sidebar .nav-sidebar li.active a {
    background:#a7916a;
    color:#fff;
}

.actions input[type="submit"] {
    margin:10px 14.8%;
 }
 
 #error_explanation  {
          color:red;
     h2 {
         display:none;
     }
 }
 
 select#product_category_id {
    display: block;
    width: 75%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
 }

span {
font-size:1.4rem;
float: right;
padding: 0 5px 0 0;
}

 #nav_total {
    color:#fff;
    font:1.5rem Georgia, Times, "Times New Roman", serif;
     margin-top:15px;
 }
 
 button{
    float: right;
    background-color: #a7916a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-right: 30px;
    margin-bottom: 30px;
 }
 
 #button_id {
    float: right;
    background-color: #a7916a;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-right: 20px;
    margin-bottom: 30px;
 }
 
.checkout-btn {
     float:right;
     a {
         margin-right:10px;
     }
 }
 
 #search {
     padding:20px 10px;
     margin:10px 5px 0 0;
 }
 
.glyphicon-shopping-cart {
     font-size:2.2rem;
     float:left;
 }
 
 .cart {
    margin-top:-20px;
    .my-bag {
         font-size:1.1rem;
         margin-top:10px;
    }
 }
 
 
 
 