<%= form_for(@product) do |f| %>
 <div class="form-group">
   <%= f.label :category %>
   <% if current_page?("/products/new") %>
      <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a category" , class:"form-control")  %>
   <% else %>
      <%= f.select :category_id,  @categories  %>
   <% end %>
   </div>
   <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :length %>
    <%= f.text_field :length, class:"form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Add new product", class: "btn btn-primary" %>
  </div>
<% end %>
