<div class="row">
  <div class="col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li class="<%= 'active' if params[:category].blank? %>"><%= link_to "All", products_path %></li>
      <!-- for each category -->
      <% Category.all.each do | category | %>
           <!-- get name of each instance and pass name of category in the url as a parameter -->
           <li class="<%= 'active' if params[:category] == category.name %>"><%= link_to category.name, products_path(category: category.name) %></li>
      <% end %>
    </ul>
    </div>
    <div class="col-md-10">
      <p id="notice"><%= notice %></p>
      <!-- search text field -->
      <%= form_tag(products_path, :method => "get", class: "form-inline search") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search treatments", class:"search-query form-control" %>
          <%= submit_tag "Search", class:"btn btn-primary"%>
      <% end %>
      <!-- if user has admin rights show add new product -->
       <% if current_user.try(:admin?) %>
         <%= link_to 'Add New Product', new_product_path, class: "btn btn-default" %>
      <% end %>
      <h1>Treatments</h1>
      <!-- shows the current category -->
      <h2><%= params[:category] %></h2>
      <!-- if no products match show message -->
        <% if @products.count == 0 %>
          <p>There are no treatments currently available for this category.</p>
          <!-- else show products -->
        <% else %>
          <% @products.each do |product| %>
            <h3><%= product.name %></h3>
            <h4><%= product.length %></h4>
            <p><%= product.description %></p>
            <p><strong><%= number_to_currency(product.price, :unit => '€') %></strong></p>
            <%= button_to "Add to cart", line_items_path(:product_id => product), :class => 'btn btn-primary' %>
            <!-- if current user is admin https://github.com/plataformatec/devise/wiki/How-To:-Add-an-Admin-Role -->
            <% if current_user.try(:admin?) %>
              <p>
                <%= link_to 'Show', product, class: "btn btn-default" %> 
                <%= link_to 'Edit', edit_product_path(product), class: "btn btn-default" %> 
                <%= link_to 'Destroy', product, class: "btn btn-default", method: :delete, data: { confirm: 'Are you sure?' } %>
              </p>
            <% end %>
            <hr/>
          <% end %>
        <% end %>
    </div>
</div>
