<h3><%= @product.name %></h3>
<h4><%= @product.length %></h4>
<p><%= @product.description %></p>
<p><strong>&euro;<%= @product.price %></strong></p>
<p>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-default" %>
    <%= link_to 'Back', products_path, class: "btn btn-default" %>
</p>
