<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
     <tr>
      <th>Cart No</th>
       <th>Product Name</th>
      <th>Product Price</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td><%= @line_item.cart_id %></td>
        <td><%= @line_item.product.name %></td>
        <td><%= number_to_currency(@line_item.product.price, :unit => '€')  %></td>
      </tr>
    </tbody>
  </table>
<%= link_to 'Edit', edit_line_item_path(@line_item), class: "btn btn-default" %>
<%= link_to 'Back', line_items_path, class: "btn btn-default" %>
